
@media (max-width: 1000px) {
  .home-text {
   padding-top: 60px;
   padding-left: 40px;
   
  }
} 

/* Animation for the homepage texts */
.home-text h1 {
  animation: fadeInDown 1s ease-in-out;
}

.home-text p {
  animation: fadeInUp 1s ease-in-out;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}


.home-text a {
  animation: fadeInUp 1s ease-in-out;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* Keyframe animations */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}  

.get-started:hover {
  background-color: #8E854C;
  color: white;
  border: 2px solid #4B86BD;
}

