
@media (max-width: 700px) {
  .home-text {
   padding-top: 60px;
   padding-left: 40px;
   
  }
} 


.get-started:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color-200);
  border: 2px solid var(--secondary-color-100);
} 

.lucky:hover {
  background-color: var(--secondary-color-100);
  color: var(--primary-color);
  border: 2px solid var(--secondary-color-100);
}

