@media (max-width: 500px) {
 .movie-conrtainer  {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 10px;
  
 } 
 .detail {
  margin-bottom: 18px;
 }
 .heart {
  padding-bottom: 5px !important;
 }
 
 .movie-lists {
  justify-content: center;
  place-items: center;
  margin-top: 10px;
  width: 100%;
 
 } 
 .movie-lists img {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 } 
 
}
 
.details-button {
  transition: background-color 0.3s, color 0.3s, border 0.3s;

} 

.details-button:hover {
  background-color: #e4e9ed;
  color: black;
  border: 1px solid #80878D;
  animation: hoverEffect 0.7s ease-in-out;

} 



@keyframes hoverEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }

}

