@media (max-width: 640px) {
  .card {
   width: 330px;
  
  } 
  .details-header {
   text-align: center;
   text-wrap: wrap;
   
  } 
  .back-button {
    margin-left: 100px !important;
    margin-bottom: 15px !important;
  }
 }
 